body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagens/pexels-sohi-807598.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover{
    color: blue;
}

.titulos{
    text-transform: uppercase;
    padding: 10px;
}


.titulo_nome{
    text-align: center;
    font-size: 30pt;
    padding-bottom: 5px;
    margin: 0;
    color: white;
}

.informacoes_gerais{
    text-align: end;
    display: flex;
    color: white;
}

#telefone{
    padding-left: 50px;
}

#email{
    padding-left: 10px;
}

.conteudo li{
    text-align: justify;
    list-style-type: none;
    border: 2px solid black;
}

.objetivo, .formacao, .exp, .competencia{
    height: auto;
    margin: 30px;
    background-color: rgb(255, 255, 255, 0.3);
    
}

.formacao li, .exp li, .competencia li{
    border: transparent;
    list-style-type: square;
}

.objetivo, .formacao, .exp, .competencia{
    padding: 10px;
}
